@import url(https://fonts.googleapis.com/css?family=PT+Serif:400italic);
body {
  background-image: url("https://source.unsplash.com/category/nature/1600x900");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: auto;
}
h1 {
  font-family: "PT Serif", serif;
  font-size: 2.5em;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.75);
}

ul {
  font-family: "Courier New", Courier, monospace "PT Serif", serif;
  font-size: 2em;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.75);
  list-style-type: none;
  border: solid gray;
}
/* A link that has not been visited */
a:link {
  color: pink;
}

/* A link that has been visited */
a:visited {
  color: pink;
}

/* A link that is hovered on */
a:hover {
  color: blue;
}

/* A link that is selected */
a:active {
  color: green;
}
.quote {
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  padding: 5%;
}

#quoteblock {
  font-family: "PT Serif", serif;
  text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.75);
  font-size: 2em;
}

#author {
  font-family: "PT Serif", serif;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.75);
}
